
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<SeyehatProjesi.Models.Siniflar.Yorumlar>


<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Yorum Listesi</h2>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Kullanıcı Adı</th>
                    <th>Mail Adresi</th>
                    <th>Yorum</th>
                    <th>Blog ID</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.KullaniciAdi</td>
                        <td>@x.Mail</td>
                        <td>@x.Yorum</td>
                        <td>@x.BlogId</td>
                        <td><a class="btn btn-danger delete-button" data-id="@x.ID">Sil</a></td>
                        <td><a href="/Admin/YorumDetay/@x.ID" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <script>
        $(document).on("click", ".delete-button", function () {
            var id = $(this).data("id");

            if (confirm("Bu yorumu silmek istediğinize emin misiniz?")) {
                $.ajax({
                    url: '/Admin/YorumSil',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message); 
                            location.reload();       
                        } else {
                            alert(response.message); 
                        }
                    },
                    error: function () {
                        alert("Bir hata oluştu. Lütfen tekrar deneyin.");
                    }
                });
            }
        });

    </script>
</body>
</html>